@import './tailwindcss.css';
@import './prose.css';
@import './editor.css';
@import './code-theme.css';

cropper-canvas {
  background: color-mix(in oklab, var(--color-default) 20%, transparent);
  min-height: 240px;
}

cropper-selection {
  outline: 2px solid var(--color-primary);
}

cropper-handle[action='select'] {
  background: color-mix(in oklab, var(--color-primary) 20%, transparent);
}
