.message-item {
  transition: background-color 0.5s ease-in-out;
  background-color: transparent;
}

.message-item.highlight {
  background-color: hsl(var(--heroui-default-200));
}

.kun-list > div[data-orientation='vertical']:first-child {
  padding: 4;
}
